:root {
  --blue: #00538A;
  --white: #fff;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  background: var(--blue);
  padding: 40px;
  padding: 25px 0 10px 0;
}
.header ul li a {
  color: var(--white);
  text-decoration: none;
}
.tmp {
  border: solid 1px #6c6c6c;
  padding: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #6c6c6c;
  font-weight: 300;
}
footer {
  background: var(--white);
  width: 100%;
  margin-top: 40px;
}
a.logo img {
  width: 220px;
}
.cart img {
  width: 40px;
}
.cart:before {
  content: "0";
  background: red;
  color: #fff;
  font-weight: bold;
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 20px;
  right: 0;
  font-size: 16px;
  padding-top: 1px;
  top: -5px;
}

.cart {
  position: relative;
  width: 50px;
  float: right;
}
.top1, .top2, .top3 {
  width: calc(100% / 3 - 3px) !important;
  display: inline-flex;
}
.top3 {
  align-items: flex-end;
  flex-direction: row-reverse;
}

#menu {
display: flex;
list-style: none;
gap: 0.5rem;
padding-left: 0;
}

#menu a {
display: block;
padding: 0.5rem;
}
nav#nav {
  margin: 0 auto;
}
#btn-mobile {
display: none;
}
.banner {
background: #ccc;
}
.banner h1 {
color: #000;
text-align: center;
}

.banner .owl-next::after {
content: "";
width: 18px;
height: 18px;
position: absolute;
transform: rotate(-45deg);
border: solid #00000096;
border-width: 0 3px 3px 0;
right: 15px;
top: 44%;
}
.banner .owl-prev::after {
content: "";
width: 18px;
height: 18px;
position: absolute;
transform: rotate(135deg);
border: solid #00000096;
border-width: 0 3px 3px 0;
left: 15px;
top: 44%;
}
.banner span[aria-label="Next"],
.banner span[aria-label="Previous"] {
display: none;
}
.banner .item {
height: 530px;
}
.banner .item h1 {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}
.cursos_destaques input.form-control {
  background: #ebebeb;
  border: 0;
  outline: none !important;
}
.cursos_destaques button#button-addon2 {
  border: 0;
  background: #ebebeb;
}
@media (max-width: 992px) {
  .header {
    padding: 25px 0 25px 0;
  }
  .top2 {
      float: left;
  }
  ul#menu li {
    display: block;
  }
  ul#menu {
    padding: 0;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 95px;
    right: 0px;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    background: linear-gradient(270deg, #00538A 12.09%, #3BB6C6 145.18%);
    text-align: center;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(255 255 255 / 29%);
    color: #30DABD;
  }
  nav#nav {
    margin: 0;
    margin-top: -7px !important;
    margin-left: 6px;

  }
  button#btn-mobile {
    color: #fff;
  }
  /* a.logo img {
    width: 100%;
  } */
  .top3 {
    float: right;
  }
  .top2, .top3 {
    width: 10% !important;
  }
  .top1 {
      width: 80% !important;
  }
  .top1 a {
      text-align: center;
      margin: 0 auto;
  }
  #btn-mobile {
    display: flex;
    padding: 10px 0 0 0;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 4px solid;
  }
  #hamburger {
  position: relative;
    top: 5px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 35px;
    height: 4px;
    background: currentColor;
    margin-top: 6px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -10px;
  }
}

